.App {
  background: #fefdff
}

.card {
  border-radius: 20px;
  height: 200px;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

.card-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.card-sales {
  background: linear-gradient(#2193b0, #6dd5ed)
}

.card-expenses {
  background: linear-gradient(#ba5370, #f4e2d8)
}

.card-profit {
  background: linear-gradient(#02aab0, #00cdac)
}
